<ion-view view-title="WEATHER" ng-app="starter" ng-controller="getweather">
  <ion-content style="background: azure";>
      <div align="center"><h1>Enter your city name and upload the  documents in next page to verify..!!!</h1></div><br><br>
      <div align="center";style="background: azure";><p>Enter your City:</p></div>
   <div class="list list-inset";align="center">
      <input type="text" placeholder="CITY NAME" id="cityname"><br>
        
      
      <button on-touch="onTap()" class="button" ng-click="getdata()" style="background: azure";>Click here (to check weather and upload)</button>
      </div>
      </ion-content>
</ion-view>
 
